<article>
    <h2>{{name}}</h2>
    <ul>
        <li><span>Capital{{capital}}</span></li>
        <li><span>Population{{population}}</span></li>
        <li><span>languages
                <ul>
                    {{#each languages}}
                    <li>{{languages.name}}</li>
                    {{/each}}
                </ul>
            </span></li>
    </ul>
    <img src="{{flag}}" alt="flag">
</article>